html,
body {
  margin: 0;
}

body {
  background: url("./assets/img/body-bg.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
